
#name{
    background: url("../images/banner.jpg") no-repeat center top;
	  background-repeat: no-repeat;
  background-size: auto;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
    background-color: #fff ;
	min-height: 50px;
    text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
    text-align: center;
}

body{
    text: rgb(6, 6, 6)
	font-size:18px;
	line-height:1.6em;
	margin:0;
    background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}
.form-row{
 margin-bottom: 20px;
}
.img{
    width: 50px;
    height: 50px;
}
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:coral;
	color:#fff;
}
#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#projects-form{
	background-image:url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/3-chicago-skyline-at-night-pawelgaul.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    width:720px;
	padding:0 30px;
	min-height:200px;
	margin-bottom:30px;
    color: #fff;
}

#projects-container{
    background-image:url('https://static.vecteezy.com/system/resources/thumbnails/001/078/367/small_2x/abstract-grey-white-simple-background.jpg');
    background: #fff;
    padding:0 30px;
	min-height:300px;
	margin-bottom:30px;
}
/* https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/blazing-nyc-skyline-patrick-jacquet.jpg */